@import '~antd/dist/antd.css';
.App {
  padding: 2em;
}
#class-mp3 {
  height: 130px;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.recorder-container {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  max-height: 30em;
  box-sizing: border-box;
  overflow-y: scroll;

}
.operate-btn {
  margin-right: 16px;
}
.disableBtn {
  visibility: hidden;
}
.recordBlock {
  vertical-align: -3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
}
.recording {
  animation: recorder 1s linear infinite;
}
@keyframes recorder {
  0% {
    background: tomato;
  }

  50% {
    background: transparent;
  }

  100% {
    background: tomato;
  }
}
